<div>
  <h1 class="font-bold text-4xl text-blue-500">This is the home Page</h1>

  <button class="bg-black hover:bg-gray-700 text-white font-bold py-2 px-4 my-10 rounded" data-controller="hello" data-action="click->hello#handleClick">
  </button>

</div>